 .form-floating >label {
    left: 0;
    width: 100%;
   
}

.form-floating > input{
    color: #7E7474;
    
}
@media screen and (max-width:1024px){
    .form-container{
        margin-left: -18rem;
        margin-top: 8rem;
        width: 80%;
    }
}
@media (max-width: 575.98px) { 
    .form-container{
        margin-left: -14rem;
        margin-top: 6rem;
        width: 80%;
    }
}