.checkout-container{
    padding-top: 20rem;
}

.delivery-form-name, option{
    display: flex;
    flex-direction: row;
    gap:1.2rem;
    align-items: center;
    width: auto;
    font-size: 10px;
    color:#7E7474 ;
    text-align: left;
    border:none;

}
.form-info{
    gap:1.2rem;
    align-items: center;
    width: auto;
    font-size: 10px;
    color:#7E7474 ;
    text-align: left;
    border:none;
}
.form-select{
    border:none;
    border-bottom: 1px solid #7E7474;
    padding: 2px 10px;
    outline: none;
    border-radius: 0;
    width: 13.8rem;
    margin-top: 12px;
    font-size: 10px;
    
}
.form-select:hover{
    border-bottom-color: #7E7474;
    box-shadow: none;
}
.form-select:focus{
    outline: 0;
    box-shadow: none;
}
#svbtn{
    margin-top: 1rem;
}
.save-btn,.tryAgain-btn{
    background-color: black;
    font-size: 11px;
    color: white;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-weight: bold;
    width: 14rem;
    right: 0;
}
.info{
    margin-left: 60%;
}
.check-container{
 z-index: -1;
}
.MuiListItemText-root{
    width: 100%;
    right: 0;
}

@media screen and (max-width:1024px){
    .delivery-form-name, option{
        flex-direction: column;
        margin-left: -1rem;
    }
}
@media (max-width: 575.98px) { 
    .delivery-form-name, option{
        flex-direction: column;
        margin-left: -1rem;
    }
    
 }